doctype html
html
  head
  title #{title}
  link(rel="stylesheet", href=css, data-inline)
  body
    div(class='hero')
      img(src=publicUrl + "kotios-logo-white.svg", data-inline, class='kotios-logo')
      h1 #{title}
    p Hienoa, loit kohteen. Voit katsoa lis채채m채si kohteet alla olevasta linkist채.
    a(class='button', href=dreamsUrl) Katso kohteeni
