doctype html
html
  head
  title #{title}
  link(rel="stylesheet", href=css, data-inline)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap", data-inline)
  body
    div(class='hero')
      img(src=publicUrl + "kotios-logo.svg", data-inline)
      h1 Kotios - #{title}
    p Hienoa, loit kohteen. Voit katsoa lis채채m채si kohteet alla olevasta linkist채.
    a(class='button', href=dreamsUrl) Katso kohteeni
