doctype html
html
  head
  title #{title}
  link(rel="stylesheet", href=css, data-inline)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap", data-inline)
  body
    div(class='hero')
      img(src=publicUrl + "kotios-logo.svg", data-inline)
      h1 Kotios - #{title}
    a(class='button', href=tokenUrl) Aktivoi tunnus.
    p Linkki vanhenee #{tokenExpires}
